# Python
__pycache__
*.pyc
*.egg-info
.vscode/
dist
datasets/*
# Log
*.log
*.log.*
*.err
*.out
# *.json
# *.jsonl

# Data
!**/alpaca-data-conversation.json
# Editor
.idea
*.swp
.vscode
*.png
*.jpg
# Other
.DS_Store
wandb
output
llavavid

checkpoints
project_checkpoints
debug_checkpoints
ckpts*

.ipynb_checkpoints
chunyl_scripts
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
notebooks/
logs
scripts/dist_*
logs/
submissions/
cn_scripts/
internal_project_checkpoints/
work_dirs
scripts/i18n/*
playground/.nfs028b000000010add00000001
HIP
playground/.nfs028b0000017bff2c00000012

# demo/
test_case/
result/
scripts/hf_download.sh
scripts/zk_scripts
/data
*.yaml
